#BEGIN MULTIPACKAGE MANAGED SECTION, HASH=MD5:9667C39B681AFED4D2806CC0CDAAA1C4
workspace/
*.egg-info/
dist/*
__pycache__

*.pyc
.pytest_cache/
.tmp_docs
built_docs
build/*
#END MULTIPACKAGE MANAGED SECTION
