#BEGIN MULTIPACKAGE MANAGED SECTION, HASH=MD5:9A24FE501F3DA2E916436E4E2B8071A8
requests
pycryptodome
pylint
twine ~= 1.12
pytest ~= 4.0
wheel
#END MULTIPACKAGE MANAGED SECTION

pytest-localserver
pytest-logging
