#BEGIN MULTIPACKAGE MANAGED SECTION, HASH=MD5:0227389671ECF6F51A0469FE69926ABD
sphinx ~= 1.8
jinja2 ~= 2.10
recommonmark ~= 0.4
sphinx_rtd_theme ~= 0.4
sphinxcontrib-programoutput ~= 0.11
#END MULTIPACKAGE MANAGED SECTION
